body {
    background-color: #d8e9ff;
}

#root {
    margin-top: 3rem;
}

.image-background {
    max-width: 50%;
    margin: 0 auto; /* 가운데 정렬을 위한 설정 */
    padding: 20px; /* 배경과 이미지들 사이의 여백 조정 */
    background-color: #f2f2f2;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.image-container img {
    width: 100%;
    height: calc(100% - 10px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.detail-background {
    text-align: center;
}

.detail-background img {
    margin-top: 3rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.img-explan {
    text-align: center;
}

.img-stats {
    text-align: start;
    margin-left: 41rem;
}

small {
    padding: 3px;
}
